.card {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;

    .listProduct {

        .formSearch {
            padding: 10px 0;
            position: relative;
            display: flex;
            align-items: center;

            .formSearch {
                padding: 10px 0;
                position: relative;
                display: flex;
                align-items: center;
            }

            .optionSelect {
                width: 150px;
                height: 50px;
                padding: 0 5px;
                border: 1px solid lightgrey;
                font-size: 15px;
            }


            .optionSelect:focus {
                outline: none;
            }

            .inputSearch {
                height: 50px;
                width: calc(100% - 150px - 100px);
                padding: 5px 10px;
                margin-left: -1px;
                border: 1px solid lightgrey;
            }

            .inputSearch:focus {
                outline: none;
            }

            .buttonSearch {
                width: 100px;
                height: 50px;
                border: none;
                color: white;
                background-color: orangered;
                font-size: 15px;
            }

        }

        &.history {
            .table {
                .tableHeading {
                    background-color: rgba(240, 240, 240, 0.8);

                    .column {
                        padding: 10px 0;
                    }
                }

                .tableBody {
                    &:not(:last-child) {
                        border-bottom: 2px solid rgba(240, 240, 240, 0.8);
                    }

                    .column {
                        padding: 10px 0;

                        .statusAccount {
                            padding: 7px 10px;
                            font-size: 14px;
                            font-weight: bold;
                            color: white;
                            border-radius: 10px;
                        }
                    }
                }

                .tableBody,
                .tableHeading {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    font-size: 14px;

                    .column {
                        text-align: center;

                        &:nth-child(1) {
                            width: 40px;
                        }

                        &:nth-child(2) {
                            width: 60px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &:nth-child(3) {
                            width: 120px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &:nth-child(4) {
                            width: calc(100% - 560px);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &:nth-child(5) {
                            width: 100px;
                        }

                        &:nth-child(6) {
                            width: 100px;
                        }

                        &:nth-child(7) {
                            width: 140px;
                        }

                        .image {
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                            border-radius: 10px;
                        }

                        .buttonEdit {
                            color: blue;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        &.listAll {
            .table {
                .tableHeading {
                    background-color: rgba(240, 240, 240, 0.8);

                    .column {
                        padding: 10px 0;
                    }
                }

                .tableBody {
                    &:not(:last-child) {
                        border-bottom: 2px solid rgba(240, 240, 240, 0.8);
                    }

                    .column {
                        padding: 10px 0;

                        .statusAccount {
                            padding: 7px 10px;
                            font-size: 14px;
                            font-weight: bold;
                            color: white;
                            border-radius: 10px;
                        }
                    }
                }

                .tableBody,
                .tableHeading {
                    display: flex;
                    align-items: center;
                    padding: 5px;
                    font-size: 14px;

                    .column {
                        text-align: center;

                        &:nth-child(1) {
                            width: 40px;
                        }

                        &:nth-child(2) {
                            width: 60px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &:nth-child(3) {
                            width: 120px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &:nth-child(4) {
                            width: calc(100% - 420px);
                        }

                        &:nth-child(5) {
                            width: 100px;
                        }

                        &:nth-child(6) {
                            width: 100px;
                        }


                        .image {
                            width: 100px;
                            height: 100px;
                            object-fit: cover;
                            border-radius: 10px;
                        }

                        .buttonEdit {
                            color: blue;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .buttonPage {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .buttonPage a {
            background-color: lightgrey;
            color: black;
            margin: 0 5px;
        }
    }
}

.header {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;

    .formSearch {
        width: 93%;
        padding: 15px;
        display: flex;
        align-items: center;

        .icon {
            font-size: 18px;
        }

        .input {
            width: calc(100% - 30px);
            border: none;
            padding: 5px 10px;
            font-size: 15px;

            &:focus {
                outline: none;
            }
        }
    }

    .iconUser {
        font-size: 18px;
    }
}

#addProduct {
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;

    .heading {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .quantity,
    .product {
        display: flex;
        margin-bottom: 10px;

        .label {
            min-width: 200px;
            text-align: right;
            margin-right: 10px;
        }

        .input {
            width: 300px;
            height: 40px;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid lightgrey;
            font-size: 15px;

            &:focus {
                outline: none;
            }
        }
    }

    .formButton {
        margin-top: 20px;

        .button {
            width: 100px;
            font-size: 14px;
            padding: 8px 5px;
            border-radius: 5px;
            border: none;
            color: white;
            margin-right: 5px;
            background-color: green;
        }
    }
}