.container {
    display: flex;
    padding: 40px;
    justify-content: space-between;

    .content {
        width: calc(100% - 370px);
    }

    .info_order {
        width: 350px;

        .table {
            width: 100%;

            .table_heading,
            .table_body {
                tr {
                    display: flex;
                    align-items: center;
                }

                .column {
                    font-size: 14px;
                    line-height: 30px;

                    &:nth-child(1) {
                        width: 120px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .product_name {
                            line-height: normal;
                        }

                        .image {
                            width: 80px;
                            height: 80px;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }

                    &:nth-child(2) {
                        width: calc(100% - 220px);
                    }

                    &:nth-child(3) {
                        width: 100px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}